<!---The Heading Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <!---The Messagee Block-->
    <% messages() %>
      
    <p>You're logged in.</p>