<!---The Heading Content View-->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/')} %>
<!---The Messagee Block-->
<% messages() %> 

<!---Grea=etings based on account type--> 
<% if (accountModel.accountType ==='Client') { %>
        <h2>Welcome <%= user.account_firstname %></h2><% } 
    else { %>
        <h2>Welcome Happy<%= accountModel.account_firstname %></h2>
        <h3>Inventory Management</h3>
        <p><a href="/inventoryManagementView">Manage Inventory</a></p><% 
    } 
%>
<a href="/update-account">Update Account Information</a>
