/*** MOBILE SIZE VIEW *****/
#top-header {
    display: flex;
  }
  
  .siteName {
    font-size: 1.3rem;
    font: bolder;
    margin-right: 40%;
  }
  
  .siteName a, #tools a{
    text-decoration: none;
    color: black;
  }
  
  #tools a {
    font-size: .75rem;
  }
  
  /***DIsplay navigation in flex 
  direction with no decoration *****/
  nav ul {
    display: flex;
    list-style: none;
    margin: 15px;
    margin-left: -40px;
  
  }
  li{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: .85rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    cursor: pointer;
  }
  
  /** Body stylings ***/
  .hero-image img {
    width: 100%;
    height: auto;
    position: relative;
  }
  /*** Hero Overlay **/
  .hero-overlay-text {
    position: relative;
    background-color: #dfdada;
    margin: 0 0 1rem 1rem;
    border: 1px solid #dbd8d8;
    width: fit-content;
    height: fit-content;
    transform: translate( 0,-140%);
    margin: 4px;
    opacity: .8;
  }
  
  .hero-overlay-text img {
    width: 65%;
    height: 30px;
    margin-top: -10px;
  }
  .hero-overlay-text h2, 
  .hero-overlay-text p {
    color: rgb(0, 68, 255);
    margin-top: -3px;
    font-size: 1rem;
  }
  .hero-overlay-text h2{
    margin-bottom: 5px;
  }
  
  #dmcReviews li {
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: justify;
    margin-left: -15px;
  }
  #upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #upgrades section {
    margin-bottom: 20px;
  }
  .upgrades-section-1 {
    grid-column: 1;
    grid-row: 1;
    background-color: darkcyan;
    margin-right: 10px;
    border: 1px solid black;
  } 
  .upgrades-section-2 {
    grid-column: 2;
    grid-row: 1;
    background-color: darkcyan;
    margin-right: 10px;
    border: 1px solid black;
  } 
  .upgrades-section-3 {
    grid-column: 1;
    grid-row: 2;
    background-color: darkcyan;
    margin-right: 10px;
    border: 1px solid black;
  } 
  .upgrades-section-4 {
    grid-column: 2;
    grid-row: 2;
    background-color: darkcyan;
    margin-right: 10px;
    border: 1px solid black;
  } 
  
  .grid-image {
    width: 50px;
    height: 50px;
    margin-left: 35%;
    padding-top: 5px;
  }
  
  #upgrades section a {
    margin-left: 40px;
    color: darkblue;
  }  



  /****** Vehicle vDetail View Stylings ****/
  .vehicle-info {
    flex-direction: column;
}

.vehicle-image, .vehicle-details {
    max-width: 100%;
}