/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*** MOBILE SIZE VIEW *****/
#top-header {
  display: flex;
}

.siteName {
  font-size: 1.3rem;
  font: bolder;
  margin-right: 40%;
}

.siteName a, #tools a{
  text-decoration: none;
  color: black;
}

#tools a {
  font-size: .75rem;
}

/***DIsplay navigation in flex 
direction with no decoration *****/
nav ul {
  display: flex;
  list-style: none;
  margin: 15px;
  margin-left: -40px;

}
li{
  background-color: black;
  color: rgb(255, 255, 255);
  padding: .85rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
  cursor: pointer;
}

/*** Hero Overlay **/
.hero-overlay-text {
  background-color: #777;
  margin: 0 0 1rem 1rem;
  border: 1px solid #333;
  box-shadow: 0 0 15px #777;
}

.hero-overlay-text img {
  width: 53px;
  height: 26px;
}
