<!---The Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<!---The Messagee Block-->
<% if (messages.length > 0) { %>
  <div class="alert alert-info" id="flash-message">
      <% messages.forEach(function(message) { %>
          <p><%= message %></p>
      <% }); %>
  </div>
<% } %>

<!--The Inventory Items Display Block-->
<%- grid %>
<script src="/js/flash.js"></script>
