<!---The Heading Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<!---The Messagee Block-->
<% if (messages.length > 0) { %>
    <div class="alert alert-info" id="flash-message">
        <% messages.forEach(function(message) { %>
            <p><%= message %></p>
        <% }); %>
    </div>
  <% } %>

<div id="invManagement">
    <a id="addClassification" href="/inv/add-classification">Add New Classification</a>
    <a id="addInventory" href="/inv/add-inventory">Add New Inventory Item</a>
</div>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<!--Table to dsiplay selected invetory items-->
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript> <!---To display a message when javascript is disabled-->

<script src="../../js/inventory.js"></script>
<script src="/js/flash.js"></script>
