<!---The Heading Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

    
<% if (messages()) { %>
    <div class="flash-message"><%= messages() %></div>
<% } %>

<div id="invManagement">
    <a id="addClassification" href="/inv/add-classification">Add New Classification</a>
    <a id="addInventory" href="/inv/add-inventory">Add New Inventory Item</a>
</div>