<!---The Heading Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<h1>Inventory Management</h1>
    
<% if (messages()) { %>
    <div class="flash-message"><%= messages() %></div>
<% } %>

<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Inventory Item</a>