<!---The Heading Content View-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<!---The Messagee Block-->
<%# messages() %>

<!--Display ve hicle items in Grid View-->
<%- vehicleHtml %>